<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Files Download</title>
    <script src="/static/js/common/common.js"></script>
    <style>
        body {
          font-family: Arial, sans-serif;
          font-size: 16px;
          line-height: 1.5;
          color: #333333;
        }

    </style>
</head>
<body  >
{% raw %}
<div id="app"  v-cloak>
    <el-row :gutter="10">
        <el-form :model="queryPanel" ref="queryPanel" label-width="120px">
            <el-col :span="6">
                <el-form-item label="Client Name:" prop="clientName">
                    <el-input v-model="queryPanel.clientName" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="File Name:" prop="fileName">
                    <el-input v-model="queryPanel.fileName" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="10">
                <el-button icon="el-icon-search" @click="handleQuery" type="primary" plain > Query</el-button>
            </el-col>
        </el-form>
    </el-row>


    <el-row style="height: 80%;">
        <el-col :span="24">
            <el-table :data="tableData"  border style="width: 100%">

                <el-table-column prop="clientName" label="Client Name" width="180">
                </el-table-column>

                <el-table-column prop="fileName" label="File Name" width="180">
                </el-table-column>

<!--                <el-table-column prop="orgUrl" label="原始下载地址" width="180">-->
<!--                </el-table-column>-->

                <el-table-column prop="clientUrl" label="Client Download Address">
                </el-table-column>

                 <el-table-column prop="online" label="Online/Offline" width="180">
                     <template slot-scope="scope">
                            <el-tag
                              :type="scope.row.online == '0' ? 'danger' : 'success'"
                              disable-transitions>{{scope.row.online == '0' ? 'Offline' : 'Online'}}</el-tag>
                          </template>
                </el-table-column>

                <el-table-column prop="last_online" label="Last Launch Time" width="180">
<!--                     <template slot-scope="scope">-->
<!--                        <el-tag-->
<!--                          :type="scope.row.online == '0' ? 'danger' : 'success'"-->
<!--                          disable-transitions>{{scope.row.online == '0' ? '掉线' : '在线'}}</el-tag>-->
<!--                      </template>-->
                </el-table-column>

                 <el-table-column fixed="right" label="Operation" width="200">
                    <template slot-scope="scope">
                        <el-button v-if="scope.row.online == '1'" size="mini" @click="handleEdit(scope.$index, scope.row)">Download</el-button>
                        <el-button size="mini" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                    </template>
                </el-table-column>

            </el-table>
        </el-col>
        <el-col :span="24" style="text-align: right">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage"
                    :page-sizes="[10, 20, 30, 100]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="rowTotal">
            </el-pagination>
        </el-col>
    </el-row>
</div>
{% endraw %}
</body>

<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,
                queryPanel: {clientName:'',fileName:''},
                tableData: [],
                form: {},
                saveBtnTitle: '立即创建',
                currentPage: 1,
                pageSize: 10,
                rowTotal: 0,
                radio:3
            }
        },
        methods: {
            handleAdd: function() {
                let that = this;
                that.visible = true;
                that.form = {
                    role:1
                }
                that.saveBtnTitle = '立即创建'
            },
            handleSave: function() {
                let that = this;
                let data = that.form

                let id = data.id;
                let url = "info/add";
                let message = '保存成功';
                if (typeof id != "undefined") {
                    url = "info/update";
                    message = '修改成功';
                }

                ApiManager.post(url, data, function(res) {
                    if (res.code == '0') {
                        that.$notify({
                            title: '成功',
                            message: message,
                            type: 'success'
                        });
                        that.visible = false;
                        that.handleQuery();
                    }
                })
            },
            handleEdit: function(index, row) {
                let that = this;
                let id = row.id;
                let data = {
                    id: id
                };
                ApiManager.post('info/detail', data, function(res) {
                    if (res.code == "0") {
                        console.log(res.data)
                        that.form = res.data
                        that.visible = true;
                        that.saveBtnTitle = '立即修改'
                    }
                });
            },
            handleQuery: function() {
                let that = this;
                let data = {
                    page:this.currentPage,
                    size:this.pageSize,
                    clientName:that.queryPanel.clientName,
                    fileName:that.queryPanel.fileName,
                };
                ApiManager.post('info/list', data, function(res) {
                    that.tableData = res.data.list
                    that.rowTotal = res.data.total;
                })
            },
            handleDelete: function(index, row) {
                let that = this;
                console.log(row.id)
                that.$confirm('This operation will permanently delete the record. Do you want to continue?', 'prompt', {
                    confirmButtonText: 'determine',
                    cancelButtonText: 'cancle',
                    type: 'warning'
                }).then(() => {
                    let id = row.id;
                let data = {
                    id: id
                };
                ApiManager.post('info/delete', data, function(res) {
                    if (res.code == '0') {
                        that.$notify({
                            title: '成功',
                            message: '删除成功',
                            type: 'success'
                        });
                        that.handleQuery();
                    }
                });
            }).catch(() => {

                });
            },
            handleSizeChange(val) {
                this.pageSize = val;
                this.handleQuery();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.handleQuery();
            },
        },
        created() {
            this.handleQuery();
        },
        mounted() {
            setInterval(() => {
              this.handleQuery();
            }, 2000) // 每 2000 毫秒执行一次 handleQuery 方法
        }
    })
</script>
</html>
